.sidebar {
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
}

.nav-btn {
    height: 2px;
    width: 4.5rem;
    margin-top: 4rem;
    border: none;
    border-radius: 0;
    background-color: #fff;

    &::before,
    &::after {
        display: block;
        content: '';
        height: 2px;
        width: 4.5rem;
        border: none;
        border-radius: 0;
        background-color: #fff;
    }

    &::before {
        transform: translateY(-1.5rem);
    }

    &::after {
        transform: translateY(1.3rem);
    }
}
